main{
  text-align: center;
}
div {
           width: 99vw;
           height: 95vh;
           background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://images.pexels.com/photos/1533729/pexels-photo-1533729.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
}
